<script>
	import mermaid from 'mermaid';
	import { onMount } from 'svelte';

	export let theme = 'default';
	export let backgroundColor = 'transparent';

	if (theme == 'dark' && backgroundColor == 'transparent') {
		backgroundColor = '#1e1e20';
	}

	onMount(() => {
		mermaid.init({
			startOnLoad: true
		});
	});
</script>

<!-- prettier-ignore -->
<span class="mermaid" style={`--backgroundColor: ${backgroundColor}`}>
	%%&lbrace;init: &lbrace; 
        'theme':'{theme}'
    &rbrace;&rbrace;%%
	<slot />
</span>

<style>
	span {
		display: inline-block;
		background-color: var(--backgroundColor);
	}
</style>
