/* Normalizace */
html, 
body {
    /* IE11 "min-height" fallback */
    height: 100%;
    min-height: 100vh;
}

body {
    /* IE11 "flex, margin: auto" fallback */
    text-align: center;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

/* Vzhled */
.navigace ul {
    display: flex;
    
    /* IE11 "space-evenly" fallback */
    justify-content: space-around;
    justify-content: space-evenly;

    list-style: none;
    padding-left: 0;
}

.navigace a {
    background-color: rgba(0,0,0,.2);
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

.navigace a:hover,
.navigace a:focus,
.navigace .aktivni {
    background-color: rgba(0,0,0,.5);
}

.paticka {
    background-color: #282828;
    color: rgba(255,255,255,.7);
    padding: 1rem;
    text-align: center;
}

.stranka {
    /* IE11 "grid" fallback */
    display: flex;
    flex-direction: column;
}

@supports (display: grid) {
    .stranka {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto min-content;
    }
}

.nadpis {
    margin: auto;
    padding: 1rem;
    font-size: 5rem;
    text-transform: uppercase;
}
