/* Normalizace */
html, 
body {
    min-height: 100vh;
}
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}
*,
::after,
::before {
    box-sizing: border-box;
}
h1 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: .5rem;
}
@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

/* Plynulý posun */
html { 
    scroll-behavior: smooth; 
}

/* Vzhled */
.stranka {
    background-color: #eee;
    color: #212529;
}

.kontejner {
    margin-left: .8rem;
    margin-right: .8rem;
}
@media (min-width: 1200px) {
    .kontejner {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
@media (min-width: 1400px) {
    .kontejner {
        max-width: 1320px;
    }
}

.hlavicka {
    background-image: linear-gradient(#6c757d, #eee);
}
.obchodni-znacka {
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1.5rem 0 .5rem;
}
@media (min-width: 576px) {
    .obchodni-znacka {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.obchodni-znacka-nazev {
    margin: 1rem;
    font-weight: 500;
    color: #343a40;
    color: #212529;
}

.predstaveni {
    background-color: #e9ecef;
    padding: 1rem 2rem;
    border: 1px solid #343a40;
    position: relative;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 .5rem 2rem;
}
.predstaveni::after {
    content: "";
    position: absolute;
    right: -21px;
    bottom: -16px;
    width: 100px;
    height: 90px;
    background-image: url(../assets/images/paper-clip.svg);
}

.sekce-hlavicka {
    padding: 200px 30px 30px;
    text-align: center;
    background-size: cover;
    margin: 0 0 3rem;
    color: #fff;
    background-color: #333;
}
#html .sekce-hlavicka {
    background-image: url(../assets/images/bg-website.jpg);
}
#css .sekce-hlavicka {
    background-image: url(../assets/images/bg-webdesign.jpg);
}
#js .sekce-hlavicka {
    background-image: url(../assets/images/bg-code.jpg);
}
@media (max-width: 575px) {
    #html .sekce-hlavicka {
        background-image: url(../assets/images/resize/bg-website-sm.jpg);
    }
    #css .sekce-hlavicka {
        background-image: url(../assets/images/resize/bg-webdesign-sm.jpg);
    }
    #js .sekce-hlavicka {
        background-image: url(../assets/images/resize/bg-code-sm.jpg);
    }
}

.tlacitko {
    min-width: 13rem;
    text-shadow: 1px 1px 4px #000;
    box-shadow: 1px 1px 4px #000;
    transition: .1s;
    background-color: #0c73b8;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}
.tlacitko:hover, 
.tlacitko:focus {
    transform: scale(1.2);
    background-color: #0b5ed7;
}

.clanek {
    background-color: white;
    margin-bottom: 3rem;
    padding: 1.5rem;
    display: flex;
    align-items: start;
}
.clanek-obrazek {
    height: auto;
    width: 25%;
    max-width: 200px;
    margin: 1rem;
    margin-top: 0.3rem;
}
.clanek .h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: .5rem;
}

/* .dalsi {
    text-align: center;
    margin-bottom: 0;
}
.dalsi-odkaz {
    position: relative;
    color: #000;
}
.dalsi-odkaz:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 12em solid transparent;
    border-right: 12em solid transparent;
    border-top: 3em solid #eee;
    margin-left: -12em;
    margin-bottom: -3em;
} */

.dalsi,
.zacatek {
    text-align: center;
    margin-bottom: 0;
}
.zacatek {
    margin-bottom: 5px;
}
.dalsi-odkaz,
.zacatek-odkaz {
    position: relative;
    color: #000;
}
.dalsi-odkaz:before,
.zacatek-odkaz:before {
    content: '';
    position: absolute;
    left: 50%;
    border-left: 12em solid transparent;
    border-right: 12em solid transparent;
    margin-left: -12em;
    margin-bottom: -3em;
}
.dalsi-odkaz:before {
    bottom: 0;
    border-top: 3em solid #eee;
}
.zacatek-odkaz:before {
    top: -20px;
    border-bottom: 3em solid white;
    z-index: -1;
}

.paticka {
    background-color: #282828;
    color: rgba(255,255,255,.7);
    padding: 1rem;
    text-align: center;
}

/* Ukazatel posunu */
#ukazatel-posunu  {
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    background: #0dcaf0;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) width;
    z-index: 1;
}
