* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}





/* Fix it (use CSS class) !!! */
#regForm {
    font-family: sans-serif;
}

input,
button {
    border-radius: 0.2em;
}

input {
    background-color: #eeeeee;
}

button {
    min-width: 9em;
}

/* Progress */
.progress {
    border-bottom: 4px solid #cccccc;
    margin-bottom: 1em;
}

.progress-bar  {
    margin-bottom: -4px;
    height: 4px;
    background: #0d6efd;
}

/* Layout */
@media (min-width: 768px) {
    .row {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    }
    .row > * {
        flex-grow: 1;
        flex-basis: 0;
    }
}
