/* Bootstrap modifikace */
:root {
  --bs-primary-rgb: 12,115,184;
}
.bg-body {
  --bs-body-bg-rgb: 238,238,238;
}
.btn-primary {
  /* IE11 "var()" fallback */
  color: white;
  font-size: 1rem;
  padding: 0.75rem 0.375rem;
  border-radius: 0.375rem;
  background-color: rgba(12,115,184,1);
  
  background-color: rgba(var(--bs-primary-rgb),1);
  border-color: transparent;
  min-width: 10ch;
}
.btn-primary.active,
.btn-primary:hover {
  /* IE11 "var()" fallback */
  background-color: rgba(238,238,238,1);

  background-color: rgba(var(--bs-primary-rgb),1);
  border-color: transparent;
}

/* Vlastní styly */
html,
body {
    min-height: 100vh;
}

.va-header {
    background-image: linear-gradient(#6c757d, #eee);
}

.va-intro {
    background-color: #e9ecef;
    position: relative;
}
.va-intro::after {
    content: "";
    position: absolute;
    right: -21px;
    bottom: -16px;
    width: 100px;
    height: 90px;
    background-image: url(../assets/images/paper-clip.svg);
}

.va-section-header {
    padding: 200px 30px 30px;
    background-size: cover;
    text-shadow: 1px 1px 4px #000;
}
#html .va-section-header {
    background-image: url(../assets/images/bg-website.jpg);
}
#css .va-section-header {
    background-image: url(../assets/images/bg-webdesign.jpg);
}
#js .va-section-header {
    background-image: url(../assets/images/bg-code.jpg);
}
@media (max-width: 575px) {
    #html .va-section-header {
        background-image: url(../assets/images/resize/bg-website-sm.jpg);
    }
    #css .va-section-header {
        background-image: url(../assets/images/resize/bg-webdesign-sm.jpg);
    }
    #js .va-section-header {
        background-image: url(../assets/images/resize/bg-code-sm.jpg);
    }
}
.va-section .w-25 {
  max-width: 200px;
}
.va-section .btn {
    min-width: 13rem;
    transition: .1s;
    box-shadow: 1px 1px 4px #000 !important;
}
.va-section .btn:hover,
.va-section .btn:focus {
    transform: scale(1.2);
}

/* .va-next {
  position: relative;
}
.va-next-link:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 12em solid transparent;
  border-right: 12em solid transparent;
  border-top: 3em solid #eee;
  margin-left: -12em;
  margin-bottom: -3em;
} */


.va-next,
.va-begin {va-begin
    text-align: center;
    margin-bottom: 0;
}
.va-begin {
    margin-bottom: 5px;
}
.va-next-link,
.va-begin-link {
    position: relative;
    color: #000;
}
.va-next-link:before,
.va-begin-link:before {
    content: '';
    position: absolute;
    left: 50%;
    border-left: 12em solid transparent;
    border-right: 12em solid transparent;
    margin-left: -12em;
    margin-bottom: -3em;
}
.va-next-link:before {
    bottom: 0;
    border-top: 3em solid #eee;
}
.va-begin-link:before {
    top: -20px;
    border-bottom: 3em solid white;
    z-index: -1;
}

/* Scroll progress */
#scroll-progress  {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: #0dcaf0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) width;
  z-index: 1;
}

/* Print */
@media print {
  *[href]::after {
    content: " [" attr(href) "]";
  }
  abbr[title]::after {
    content: " [" attr(title) "]";
  }
}

/* IE11 "var()" fallback */
body {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}







/* Global *//*
figure {
  display: inline-block;
}

figure img {
  margin-bottom: .5rem;
  line-height: 1;
}

figure figcaption {
  font-size: 90%;
  text-align: center;
}

aside ul {
  padding-left: 1.5rem;
}

/* WAVE test pristupnosti *//*
a {
  color: #004ea2;
}

.btn-primary {
  background-color: #0c73b8;
  border-color: #0c73b8;
}

/* http://www.fileformat.info/info/unicode/char/search.htm *//*
footer .address:before,
a[href^="tel:"]:before,
a[href^="mailto:"]:before,
a[href^="fax:"]:before {
  margin-right: 0.5rem;
  margin-left: -1.5rem;
  position: absolute;
}

a[href^="tel:"]:before {
  content: "\260e";
}

a[href^="mailto:"]:before {
  content: "\1F3AB";
}

a[href^="fax:"]:before {
  content: "\1F4E0";
}

footer address a {
  display: block;
  padding-left: 1.5rem;
}

footer .address:before {
  content: "\1F310";
}

/* Screen *//*
header {
  background-image: linear-gradient(#6c757d, #fff);
}

.front header {
  background-image: linear-gradient(#6c757d, #eee);
}

h1 {
  color: #343a40;
}

footer {
  background-color: #ddd;
  background-image: url("../assets/images/pattern-stone-light.jpg");
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-submenu,
.footer-submenu ul {
  padding-left: 0;
  list-style: none;
}

.footer-submenu > li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-submenu strong {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  display: block;
}

.navbar {
  background-image: linear-gradient(#343a40, #000);
  margin-bottom: 1rem;
  border-radius: .25rem;
}

.nav-link.active {
  background-image: linear-gradient(#000, #343a40);
}

.sticky-top {
  top: -.25rem;
}

.navbar-brand:hover img,
.navbar-brand:focus img {
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
}

@media (max-width: 767px) {
  .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.5);
}

.intro {
  padding: 2rem;
  margin-top: 1rem;
  border: 1px solid #343a40;
  position: relative;
  border-radius: .3rem;
  background-color: #e9ecef;
}

.intro::after {
  content: "";
  position: absolute;
  right: -21px;
  bottom: -16px;
  width: 100px;
  height: 90px;
  background-image: url(../assets/images/paper-clip.svg);
}

@media (max-width: 575px) {
  .intro::after {
    width: 92px;
    right: -13px;
  }
}

.nav-link:hover .octicon-settings,
.nav-link:focus .octicon-settings {
  filter: invert(0.2);
  transform: scale(1.2);
}

.page-next {
  text-align: center;
}

.page-next figure {
  display: block;
  margin-top: 1rem;
}

/* Icon *//*
.icon,
.icon a {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.icon a {
  text-indent: 50px;
  background-image: url(../assets/images/icon.svg);
}

.icon-twitter {
  background-position: 0 0;
}

.icon-facebook a {
  background-position: -100px 0;
}

.icon-google a {
  background-position: -200px 0;
}

.icon-youtube a {
  background-position: -400px 0;
}

.icon + .icon {
  margin-left: 2px;
}

/* Front page *//*
.front {
  background-color: #eee;
}

.front article {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 2rem;
  align-items: start;
}

.front article img {
  height: auto;
  width: 33vw;
  max-width: 214px;
  margin-right: 2rem;
  margin-top: .45rem;
}

.front h2 {
  padding: 200px 30px 30px;
  text-align: center;
  background-size: cover;
  margin: 0 -15px 35px;
  color: #fff;
  background-color: #333;
  max-width: 100vw;
}

.front #html h2 {
  background-image: url(../assets/images/bg-website.jpg);
}
.front #css h2 {
  background-image: url(../assets/images/bg-webdesign.jpg);
}
.front #js h2 {
  background-image: url(../assets/images/bg-code.jpg);
}

@media (max-width: 575px) {
  .front #html h2 {
    background-image: url(../assets/images/resize/bg-website-sm.jpg);
  }
  .front #css h2 {
    background-image: url(../assets/images/resize/bg-webdesign-sm.jpg);
  }
  .front #js h2 {
    background-image: url(../assets/images/resize/bg-code-sm.jpg);
  }
}

.front h2 a {
  min-width: 13rem;
  text-shadow: 1px 1px 4px #000;
  box-shadow: 1px 1px 4px #000;
  transition: .1s;
}

.front h2 a:hover,
.front h2 a:focus {
  transform: scale(1.2);
  text-decoration: none;
}

.next {
  text-align: center;
  margin-top: 2rem;
}

.next a {
  position: relative;
  color: #000;
}

.next a:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 12em solid transparent;
  border-right: 12em solid transparent;
  border-top: 3em solid #eee;
  margin-left: -12em;
  margin-bottom: -3em;
}

.embed-responsive-16by10::before {
  padding-top: 62.5%;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}*/
