<svelte:head>
	<title>BMI</title>
	<meta name="description" content="Index tělesné hmotnosti (Body mass index)">
</svelte:head>

<script>
	import bmiObrazekPodvaha from '$lib/assets/bmi-1a-underweight.svg';
	import bmiObrazekPodvaha2 from '$lib/assets/bmi-1b-underweight.svg';
	import bmiObrazekNormal from '$lib/assets/bmi-2a-normal.svg';
	import bmiObrazekNormal2 from '$lib/assets/bmi-2b-normal.svg';
	import bmiObrazekNadvaha from '$lib/assets/bmi-3a-overweight.svg';
	import bmiObrazekNadvaha2 from '$lib/assets/bmi-3b-overweight.svg';
	import bmiObrazekObezita from '$lib/assets/bmi-4a-obese.svg';
	import bmiObrazekObezita2 from '$lib/assets/bmi-4b-obese.svg';
	import bmiObrazekMorbidniObezita from '$lib/assets/bmi-5a-extremely.svg';
	import bmiObrazekMorbidniObezita2 from '$lib/assets/bmi-5b-extremely.svg';
	
	// import bmiObrazek from '$lib/assets/bmi.svg';
	// import imgTransparent from '$lib/assets/img-transparent.svg';

	//const bmiObrazek = new URL('../lib/assets/bmi-2a-normal.svg', import.meta.url).href
	// let bmiObrazek

	import 'bootstrap/dist/css/bootstrap.min.css';

	import { Container, Row, Col, Form, FormGroup, Label, Input } from 'sveltestrap';

	let vyska
	let hmotnost

	/* $: bmi = () => {
        console.log(vyska);
        console.log(hmotnost);
        console.log(vyska * hmotnost);
        
        let x = null; // null is number
        console.log(isNaN(x));

        let y; // undefined is not number
        console.log(isNaN(y));

        return (hmotnost / (vyska / 100 * vyska / 100)).toFixed(1);
    } */
    
    // $: bmi = parseFloat((hmotnost / (vyska / 100 * vyska / 100)).toFixed(1))
	$: bmi = Math.round((hmotnost / Math.pow(vyska / 100, 2) * 1e1)) / 1e1

	$: bmiColor = !isNaN(bmi) ? getKategorie(bmi).color : "transparent"
	// $: cssVarStyles = `--note-color:${noteColor};--note-bg-color:${noteBgColor}`;

    /* const getKategorie = (bmi) => {
        let kategorie

        if (bmi < 16.5) {
            kategorie = "těžká podvýživa"
        } else if (bmi < 18.5) {
            kategorie = "podváha"
        } else if (bmi < 25) {
            kategorie = "ideální (zdravá) váha"
        } else if (bmi < 30) {
            kategorie = "nadváha"
        } else if (bmi < 35) {
            kategorie = "obezita prvního stupně"
        } else if (bmi < 40) {
            kategorie = "obezita druhého stupně"
        } else {
            kategorie = "obezita třetího stupně (též morbidní obezita)"
        }

        return kategorie;
    } */

    const kategorie = {
        // key: value
        0: {
			shortText: "těžká podvýživa",
			longText: "těžká podvýživa",
			frontImg: bmiObrazekPodvaha,
			sideImg: bmiObrazekPodvaha2,
			color: "#3366cc",
		},
        16.5: {
			shortText: "podváha",
			longText: "podváha",
			frontImg: bmiObrazekPodvaha,
			sideImg: bmiObrazekPodvaha2,
			color: "#3366cc",
		},
        18.5: {
			shortText: "ideální váha",
			longText: "ideální (zdravá) váha",
			frontImg: bmiObrazekNormal,
			sideImg: bmiObrazekNormal2,
			color: "#008341",
		},
        25:  {
			shortText: "nadváha",
			longText: "nadváha",
			frontImg: bmiObrazekNadvaha,
			sideImg: bmiObrazekNadvaha2,
			color: "#ff9900",
		},
        30:  {
			shortText: "obezita 1. stupně",
			longText: "obezita prvního stupně",
			frontImg: bmiObrazekObezita,
			sideImg: bmiObrazekObezita2,
			color: "#ff6600",
		},
        35:  {
			shortText: "obezita 2. stupně",
			longText: "obezita druhého stupně",
			frontImg: bmiObrazekObezita,
			sideImg: bmiObrazekObezita2,
			color: "#ff6600",
		},
        40:  {
			shortText: "morbidní obezita",
			longText: "obezita 3. stupně (též morbidní obezita)",
			frontImg: bmiObrazekMorbidniObezita,
			sideImg: bmiObrazekMorbidniObezita2,
			color: "#cc0000",
		},
    };

    const getKategorie = (bmi) => {
        // Get key by bmi
        // let klic = Math.max.apply(null, Object.keys(kategorie).filter(x => x <= bmi));
        let klic = Math.max(...Object.keys(kategorie).filter(x => x <= bmi));
        
		// console.log(vyska, hmotnost);
		// console.log(typeof(hmotnost / (vyska / 100 * vyska / 100)));
		// console.log(typeof((hmotnost / (vyska / 100 * vyska / 100)).toFixed(1)));
		// console.log(typeof(parseFloat((hmotnost / (vyska / 100 * vyska / 100)).toFixed(1))));
		// console.log(Math.round((hmotnost / Math.pow(vyska / 100, 2) * 1e1)) / 1e1 );
        // console.log(bmi);
        // console.log(...Object.keys(kategorie));
        // console.log(...Object.keys(kategorie).filter(x => x <= bmi));
		// console.log(klic);
		// console.log(bmi, typeof(bmi));
		// console.log(10000 <= parseInt(bmi));
		console.log(bmiColor);
	

		return kategorie[klic];
    }
</script>

<div class="bmi text-center">
	<header>
		<Container class="container-fluid bmi-title my-3 my-sm-4 my-md-5">
			<h1>Index tělesné hmotnosti (Body mass index)</h1>
		</Container>
	</header>
	<main class="align-self-center w-100">
		<Container class="container-fluid" style="--bmi-color: {bmiColor}">		
			<div class="bmi-content mt-3">
				{#if vyska && hmotnost && !isNaN(bmi)}
					<!-- 
					<div class="bmi-info">
						<div class="bmi-sprites-front"></div>
						<div class="bmi-info-caption">{getKategorie(bmi).shortText}</div>
						<div class="bmi-sprites-side"></div>
					</div> 
					-->

					<figure class="bmi-info">
						<!-- 
						<img class="bmi-sprites-front" src={imgTransparent} width="1" height="1" alt="Pohled ze předu" style="
							width: auto;
  							height: 100px;
  							background: url(bmi.svg) -50px 100px;
							object-fit: cover; 
							object-position: center top;
						">
						<img class="bmi-sprites-side" src={imgTransparent} width="1" height="1" alt="Pohled z boku">
						-->

						<img class="bmi-info-img" src={getKategorie(bmi).frontImg} width="50" height="100" alt="Pohled ze předu">
						<img class="bmi-info-img" src={getKategorie(bmi).sideImg} width="50" height="100" alt="Pohled z boku">
						<figcaption class="bmi-info-caption">{getKategorie(bmi).shortText}</figcaption>
					</figure>
				{/if}
				<Form class="bmi-info">
					<FormGroup floating label="Výška [cm]">
						<Input type="number" min="1" placeholder="Výška [cm]" bind:value={vyska} />
					</FormGroup>
					<FormGroup floating label="Hmotnost [Kg]">
						<Input type="number" min="1" placeholder="Hmotnost [Kg]" bind:value={hmotnost} />
					</FormGroup>
				</Form>
			</div>
		
			{#if !vyska}
				<p>Zadejte výšku!</p>
			{:else if !hmotnost}
				<p>Zadejte hmotnost!</p>
			{:else if !isNaN(bmi)}
			<!-- {:else} -->
				<!-- <p>BMI je: {bmi()}</p> -->
				<p class="bmi-description">BMI <strong>{bmi}</strong> kg/m<sup>2</sup> odpovídá kategorii <strong>{getKategorie(bmi).longText}</strong>.</p>
			{/if}
		</Container>
	</main>
	<footer>
		<Container class="container-fluid p-3">
			Výpočet indexu tělesné hmotnosti
		</Container>
	</footer>
</div>

<style>
	/* @import "/node_modules/bootstrap/dist/css/bootstrap.css"; */
	/* @bootstrap bootstrap; */

	/* Normalize */
	/* :global(body) {
		margin: 0;
	} */

	/* .local :global(.bmi) {

	} */

	/* BMI */
	:root {
		--bmi-bg-primary: #ffeed2;
		--bmi-bg-secondary: #f0d7af;
		--bmi-border-title: 10px;
	}

	.bmi {
		background-color: var(--bmi-bg-primary);

		/* d-flex flex-column justify-content-between align-items-stretch min-vh-100 */

		/* display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		min-height: 100vh; */

		display: grid;
		min-height: 100vh;
		grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
	}

	header,
	footer {
		background-color: var(--bmi-bg-secondary);
		position: relative;
		overflow: hidden;
	}
	header {
		padding-bottom: 5vw;
	}
	footer {
		padding-top: 5vw;
		color: #4c453a;
	}
	header::before,
	footer::before {
		content: "";
		position: absolute;
		width: 110%;
		height: 10vw;
		left: -5%;
      	border-radius: 50%;
      	background-color: var(--bmi-bg-primary);
	}
	header::before {
		bottom: -5vw;
	}
	footer::before {
		top: -5vw;
	}
	header :global(.bmi-title) {
		background-color: #029a51;
		clip-path: polygon(100% 0%,100% 65%,50% 100%,0% 65%,0% 0%);
	}
	h1 {
		color: white;
		background-color: #008341;
		clip-path: polygon(
			100% var(--bmi-border-title),
			100% calc(65% - var(--bmi-border-title)),
			50% calc(100% - var(--bmi-border-title)),
			0% calc(65% - var(--bmi-border-title)),
			0% var(--bmi-border-title)
		);
		margin-right: calc(var(--bmi-border-title) - 12px);
		margin-left: calc(var(--bmi-border-title) - 12px);
		padding: 1rem 1rem 3rem;
	}
	@media (max-width: 575px) {
		header :global(.bmi-title) {
			width: calc(100vw - (var(--bs-gutter-x)));
			margin-right: calc(var(--bs-gutter-x) * .5);
			margin-left: calc(var(--bs-gutter-x) * .5);
		}	
		h1 {
			clip-path: polygon(
				100% var(--bmi-border-title),
				100% calc(67% - var(--bmi-border-title)),
				50% calc(98% - var(--bmi-border-title)),
				0% calc(67% - var(--bmi-border-title)),
				0% var(--bmi-border-title)
			);
		}
	}

	.bmi-info {
		display: flex;
		align-items: stretch;
		justify-content: space-evenly;
		text-align: center;

		height: 20ch;
		/* position: relative; */
	}
	.bmi-info-img {
		height: 100%;
		width: auto;
	}
	.bmi-info-img:nth-child(2) {
		order: 1;
		margin-left: -3%;
		margin-right: 3%;
	}
	.bmi-info-caption {
		writing-mode: vertical-rl;
		transform: rotate(-180deg) translateX(0%);
		white-space: nowrap;
		background-color: var(--bmi-color);
		color: white;
		padding: .6rem;
		/* margin-top: 1px; */
		text-transform: uppercase;
		/* position: absolute; */
		/* height: 100%; */
	}
	@media (min-width: 576px) {
		.bmi-content {
			display: flex;	
			justify-content: center;
			align-items: center;
		}
	}
	.bmi-description {
		font-size: 1.2rem;
		line-height: 1.5;
		min-height: calc(1.5em * 2 + 16px); /* Alespoň 2 řádky - zabránění poskakování při změně délky textu */
	}
</style>
