* { box-sizing: border-box; }

body { font-family: sans-serif; }

.game {
    display: flex;
}

.scene {
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
    margin: 80px;
    perspective: 400px;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

.cube.show-front { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-top { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-left { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-right { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
.cube.show-back { transform: translateZ(-100px) rotateY(-180deg); }





/* ToDo: Natočit přesně */
.cube-1.show-front { transform: translateZ(-100px) rotateY( -20deg) rotateX(-15deg) rotate(7deg); }
.cube-1.show-top { transform: translateZ(-100px) rotateY( -17deg) rotateX(-107deg) rotate(0deg); }
.cube-1.show-left { transform: translateZ(-100px) rotateY( 70deg) rotateX(7deg) rotate(15deg); }
.cube-1.show-right { transform: translateZ(-100px) rotateY( -110deg) rotateX(7deg) rotate(15deg); }
.cube-1.show-bottom { transform: translateZ(-100px) rotateY( 0deg) rotateX(70deg) rotate(20deg); }
.cube-1.show-back { transform: translateZ(-100px) rotateY(-200deg) rotateX(15deg) rotate(-7deg); }





.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

label { margin-right: 10px; }