<script>
	import Mermaid from '$lib/Mermaid.svelte';
</script>

<svelte:head>
	<title>Diagram</title>
    <meta name="description" content="Grafické vyjádření informací">
</svelte:head>

<h1>Diagram</h1>

<!-- prettier-ignore -->
<Mermaid>
    gitGraph
        commit
        commit
        branch develop
        checkout develop
        commit
        commit
        checkout main
        merge develop
        commit
        commit
</Mermaid>

<!-- prettier-ignore -->
<Mermaid theme="neutral">
    gitGraph
        commit
        commit
        branch develop
        checkout develop
        commit
        commit
        checkout main
        merge develop
        commit
        commit
</Mermaid>

<!-- prettier-ignore -->
<Mermaid theme="dark">
    gitGraph
        commit
        commit
        branch develop
        checkout develop
        commit
        commit
        checkout main
        merge develop
        commit
        commit
</Mermaid>

<!-- prettier-ignore -->
<Mermaid theme="dark" backgroundColor="black">
    gitGraph
        commit
        commit
        branch develop
        checkout develop
        commit
        commit
        checkout main
        merge develop
        commit
        commit
</Mermaid>

<!-- prettier-ignore -->
<Mermaid theme="forest" backgroundColor="#f4f4f4">
    gitGraph
        commit
        commit
        branch develop
        checkout develop
        commit
        commit
        checkout main
        merge develop
        commit
        commit
</Mermaid>

<!-- prettier-ignore -->
<Mermaid theme="base">
    gitGraph
        commit
        commit
        branch develop
        checkout develop
        commit
        commit
        checkout main
        merge develop
        commit
        commit
</Mermaid>
