/**
 * .el:not(:last-of-type)
 */



/**
 * Horizontalni a vertikalni zarovnani na stred
 */
html {
    height: 100%;
}
body {
    min-height: 100%;
}
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /*flex-wrap: wrap;*/
    /*justify-self: safe center;*/
    /*align-self: safe center;*/
}
main {
    /* Zarovnani vpravo */
    /*margin-left: auto;*/
}
aside {
    /*min-height: 0;*/
    background-color: antiquewhite;
}





/**
 * Kalkulacka
 */
body {
    text-align: center;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-family: fantasy;
    margin: 0;
}
.kalkulacka {
    display: inline-block;
    background-color: #eeeeee;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
}
.kalkulacka button {
    width: 3em;
    margin: 2px 0;
    height: 3em;
    background-color: white;
}
.kalkulacka input {
    width: calc(4 * 3em + 12px);
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 2px;
    text-align: right;
    background-color: black;
    color: white;
    border: 0;
}
.kalkulacka section :nth-child(4) {
    background-color: orange;
}
.kalkulacka input,
.kalkulacka button {
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 1px 1px 2px grey;
    border-radius: 5px;
}
