/* Bootstrap modifikace */
:root {
    --bs-primary-rgb: 0,0,0;
}

.btn-primary {
    background-color: rgba(var(--bs-primary-rgb),.25);
    border-color: transparent;
    min-width: 10ch;
}

.btn-primary.active,
.btn-primary:hover {
    background-color: rgba(var(--bs-primary-rgb),.5);
    border-color: transparent;
}

/* Vlastní styly */
html,
body {
    /* IE11 "min-height" fallback */
    height: 100%;
    min-height: 100vh;
}

@supports (display: grid) {
    .va-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto min-content;
    }
}

.va-icon {
    width: 2em;
    height: 2em;
    fill: currentColor;
}

/* IE11 "var()" fallback */
body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.navbar {
    padding: .5rem 0;
}

.btn {
    padding: .375rem .75rem;
    border-radius: .375rem;
}

.btn-primary {
    color: #fff;
    background-color: rgba(0,0,0,.25);
}

.btn-primary.active,
.btn-primary:hover {
    background-color: rgba(0,0,0,.5);
}

.justify-content-evenly {
    /* IE11 "space-evenly" fallback */
    justify-content: space-around;
}

.bg-dark {
    background-color: rgb(33,37,41);
}

.text-light {
    color: rgb(248,249,250);
}