/* Bootstrap modifikace */
:root {
    --bs-primary-rgb: 0,0,0;
}

.btn-primary {
    background-color: rgba(var(--bs-primary-rgb),.25);
    border-color: transparent;
    min-width: 10ch;
}

.btn-primary.active,
.btn-primary:hover {
    background-color: rgba(var(--bs-primary-rgb),.5);
    border-color: transparent;
}

/* Vlastní styly */
html,
body {
    /* IE11 "min-height" fallback */
    height: 100%;
    min-height: 100vh;
}

@supports (display: grid) {
    .va-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto min-content;
    }
}

.va-icon {
    width: 2em;
    height: 2em;
    fill: currentColor;
}
