* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}





/**
 * Hot Fix (use CSS class) !!!
 */
#regForm {
    font-family: sans-serif;
}

/* Viz "h1" v original */
h1 {
    text-align: left;
}

/* viz ".step.finish" v original */
.step.finish {
    background-color: var(--primary);
}

/**
 * Variables
 */
:root {
    --primary: #0d6efd;
    --border: #aaaaaa;
    --border-light: #dddddd;
    --bg: #eeeeee;
    --invalid: #ffdddd;
}

/**
 * Normalize
 */
body {
    font-family: sans-serif;
}

label {
    display: inline-block;
    margin-bottom: .2em;
}

input,
button,
fieldset,
select,
option,
textarea {
    font-family: sans-serif;
}

select,
textarea {
    /*width: 100%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid var(--border);*/
}

button {
    min-width: 9ch;
    background-color: #0d6efd;
    background-color: var(--primary);
}

fieldset {
    margin: 0 -0.75em 1rem;
    border: 1px solid var(--border-light);
}

fieldset:not(:has(legend)) {
    border: 0;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

label {
    /*margin-bottom: 0.2rem;
    display: inline-block;*/
}

button {
    /*background-color: var(--primary);
    min-width: 9ch;*/
}

input,
button,
fieldset,
select,
textarea {
    border-radius: 0.2rem;
}

input,
select,
textarea {
    background-color: #eeeeee;
    background-color: var(--bg);
    margin-bottom: 1rem;
    min-height: 44px;
}

legend~input,
legend~select,
legend~textarea {
    margin-bottom: 0;
}

textarea {
    display: block;
}

::placeholder,
select,
option[disabled],
input[type="date"] {
    color: #757575;

}

option {
    color: black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0;

    position: relative;
    z-index: 1;
}

.date {
    position: relative;
}

.date-icon {
    color: #757575;
    width: 13px;
    position: absolute;
    right: 15px;
    bottom: 32px;

    /* transform: translate(-50%, -50%); */

    /* background-image: url(../assets/icons/calendar.svg); */
    /* background-size: contain; */
    /* background-position: center; */
}

/* Viz "input" v original */
select,
textarea {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

/* Viz "input.invalid" v original */
select.invalid,
textarea.invalid {
    background-color: #ffdddd;
    background-color: var(--invalid);
}



/* Layout */
@media (min-width: 768px) {
    .row {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .row>*:not(legend) {
        flex-grow: 1;
        flex-basis: 0;
        min-height: 44px;
    }

    /**
     * Design
     */

    /* Progress */
    .progress {
        border-bottom: 4px solid #cccccc;
        margin-bottom: 1em;
    }

    .progress-bar {
        margin-bottom: -4px;
        height: 4px;
        background-color: #0d6efd;
        background-color: var(--primary);
    }

    .step-navigation button {
        max-width: 10em;
    }

    .step-navigation :last-child {
        margin-left: auto;
    }
}

/* Stepper - original */
/* .stepper {
    text-align: center;
    margin-top: 40px;
} */

/* Stepper - v2 */
.stepper {
    margin-top: 40px;
    display: flex;
    gap: 1em;

    border-top: 1px solid #bbbbbb;
}

.stepper>span {
    transform: translate(0, -50%);
}

.stepper .active {
    flex-grow: 1;
}

/* Viz original */
.step {
    height: initial;
    width: initial;
    margin: initial;
    background-color: initial;
    opacity: initial;

    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

.step>span {
    background-color: #eeeeee;
    border: none;
    border-radius: 1em;
    display: inline-block;
    padding: .5em;
}

.step:not(.active)>span {
    aspect-ratio: 1;
    min-height: 2em;
    text-align: center;
    border: 1px solid #bbbbbb;
}

.stepper-text {
    display: none;
}

.active .stepper-text {
    display: inline;
}

.step.active {
    opacity: unset;
    color: white;
}

.step.active>span {
    background-color: #bbbbbb;
    background-color: gray;
    padding: .5em 1em;
}

.step.finish {
    background-color: unset;
}

.step.finish span {
    background-color: #04AA6D;
    color: white;
    border: none;
}
