:root {
  --body-bg: #fff;
  --body-color: #222;
  --link-color: #00e;
  --link-visited-color: #551a8b;
}

:root .theme-dark {
  --body-bg: #2b2b2b;
  --body-color: #b8b8b8;
  --link-color: #bdbd00;
  --link-visited-color: #ffa600;
}

@media (prefers-color-scheme: dark) {

  /* defaults to dark theme */
  :root {
    --body-bg: #2b2b2b;
    --body-color: #b8b8b8;
    --link-color: #bdbd00;
    --link-visited-color: #ffa600;
  }

  :root .theme-light {
    --body-bg: #fff;
    --body-color: #222;
    --link-color: #00e;
    --link-visited-color: #551a8b;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background: var(--body-bg);
  color: var(--body-color);
}

.theme-dark button {
  /* filter: invert(100%) contrast(100%) hue-rotate(180deg); */
  /* filter: blur(5px) brightness(0.4) contrast(200%) drop-shadow(16px 16px 20px blue) grayscale(50%) hue-rotate(90deg) invert(75%) opacity(25%) saturate(30%) sepia(60%); */
  filter: invert(80%);
}

.theme-dark a {
  color: var(--link-color);
}

.theme-dark a:visited {
  color: var(--link-visited-color);
}

/* unvisited link *//*
a:link {
  color: rgb(0, 0, 238);
}
/* visited link *//*
a:visited {
  color: rgb(85, 26, 139);
}
/* mouse over link (must come after a:link and a:visited) *//*
a:hover {
  color: rgb(0, 0, 238);
}
/* link selected by tabulator *//*
a:focus {
  outline: 2px solid #1f5eca;
  border-radius: 2px;
}
/* selected link (must come after a:hover and a:focus) *//*
a:active {
  color: rgb(0, 0, 238);
}

/*
.theme-dark a:link,
.theme-dark a:visited,
.theme-dark a:hover,
.theme-dark a:focus,
.theme-dark a:active {
  filter: invert(100%);
} */
