/* Bootstrap modifikace */
:root {
  --bs-primary-rgb: 12,115,184;
}
.bg-body {
  --bs-body-bg-rgb: 238,238,238;
}
.btn-primary { 
  background-color: rgba(var(--bs-primary-rgb),1);
  border-color: transparent;
  min-width: 10ch;
}
.btn-primary.active,
.btn-primary:hover {
  background-color: rgba(var(--bs-primary-rgb),1);
  border-color: transparent;
}

/* Vlastní styly */
html,
body {
    min-height: 100vh;
}

.va-header {
    background-image: linear-gradient(#6c757d, #eee);
}

.va-intro {
    background-color: #e9ecef;
    position: relative;
}
.va-intro::after {
    content: "";
    position: absolute;
    right: -21px;
    bottom: -16px;
    width: 100px;
    height: 90px;
    background-image: url(../assets/images/paper-clip.svg);
}

.va-section-header {
    padding: 200px 30px 30px;
    background-size: cover;
    text-shadow: 1px 1px 4px #000;
}
#html .va-section-header {
    background-image: url(../assets/images/bg-website.jpg);
}
#css .va-section-header {
    background-image: url(../assets/images/bg-webdesign.jpg);
}
#js .va-section-header {
    background-image: url(../assets/images/bg-code.jpg);
}
@media (max-width: 575px) {
    #html .va-section-header {
        background-image: url(../assets/images/resize/bg-website-sm.jpg);
    }
    #css .va-section-header {
        background-image: url(../assets/images/resize/bg-webdesign-sm.jpg);
    }
    #js .va-section-header {
        background-image: url(../assets/images/resize/bg-code-sm.jpg);
    }
}
.va-section .w-25 {
  max-width: 200px;
}
.va-section .btn {
    min-width: 13rem;
    transition: .1s;
    box-shadow: 1px 1px 4px #000 !important;
}
.va-section .btn:hover,
.va-section .btn:focus {
    transform: scale(1.2);
}
.va-next,
.va-begin {va-begin
    text-align: center;
    margin-bottom: 0;
}
.va-begin {
    margin-bottom: 5px;
}
.va-next-link,
.va-begin-link {
    position: relative;
    color: #000;
}
.va-next-link:before,
.va-begin-link:before {
    content: '';
    position: absolute;
    left: 50%;
    border-left: 12em solid transparent;
    border-right: 12em solid transparent;
    margin-left: -12em;
    margin-bottom: -3em;
}
.va-next-link:before {
    bottom: 0;
    border-top: 3em solid #eee;
}
.va-begin-link:before {
    top: -20px;
    border-bottom: 3em solid white;
    z-index: -1;
}

/* Scroll progress */
#scroll-progress  {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: #0dcaf0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) width;
  z-index: 1;
}

/* Print */
@media print {
  *[href]::after {
    content: " [" attr(href) "]";
  }
  abbr[title]::after {
    content: " [" attr(title) "]";
  }
}
