body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 160px;
    border: 1px solid #FFF;

    perspective: 1000px;
    perspective-origin: 50% 90%;
}

.cube {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;

    transform-style: preserve-3d;
    transition: transform 5s;
}

.cube:hover {
    cursor: pointer;
}

.cube div {
    position: absolute;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    padding: 50px 0;
    border: 1px solid black;
    border-radius: 20%;
    /* background: rgba(28, 214, 205, .8); */
}

.cube-front {
    transform: translateZ(100px);
    background: hsla(  0, 100%, 50%, 0.9);
}

.cube-back {
    transform: rotateX(-180deg) translateZ(100px);
    background: hsla(120, 100%, 50%, 0.9);
}

.cube-right {
    transform: rotateY(90deg) translateZ(100px);
    background: hsla( 60, 100%, 50%, 0.9);
}

.cube-left {
    transform: rotateY(-90deg) translateZ(100px);
    background: hsla(180, 100%, 50%, 0.9);
}

.cube-top {
    transform: rotateX(90deg) translateZ(100px);
    background: hsla(240, 100%, 50%, 0.9);
}

.cube-bottom {
    transform: rotateX(-90deg) translateZ(100px);
    background: hsla(300, 100%, 50%, 0.9);
}

.cube > :before {
    content: '';
    position: absolute;
    top: 45px;
    left: 45px;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
}

.cube-front:before {
    top: 85px;
    left: 85px;
}

.cube-back:before {
    box-shadow: 80px 80px;
}

.cube-right:before {
    box-shadow: 40px 40px,
        80px 80px;
}

.cube-left:before {
    box-shadow: 80px 0,
        0 80px,
        80px 80px;
}

.cube-top:before {
    box-shadow: 80px 0,
        40px 40px,
        0 80px,
        80px 80px;
}

.cube-bottom:before {
    box-shadow: 40px 0,
        80px 0,
        0 80px,
        40px 80px,
        80px 80px;
}
